#
VIP.xcodeproj/xcuserdata/georg.xcuserdatad/xcschemes/xcschememanagement.plist
VIP.xcodeproj/xcuserdata/georg.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
VIP.xcodeproj/project.xcworkspace/xcuserdata/georg.xcuserdatad/UserInterfaceState.xcuserstate
VIP.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VIP.xcodeproj/project.xcworkspace/contents.xcworkspacedata
.DS_Store
